    {% load static %}
    <!-- ======= About Us Section ======= -->
    <section id="about-us" class="about-us">
        <div class="container">
          <div class="row no-gutters">
            <div class="image col-xl-5 d-flex align-items-stretch justify-content-center justify-content-lg-start" data-aos="fade-right"></div>
            <div class="col-xl-7 ps-0 ps-lg-5 pe-lg-1 d-flex align-items-stretch">
              <div class="content d-flex flex-column justify-content-center">
                <h3 data-aos="fade-up" class="h4">C&K Web Tasarım ve Seo Hizmetleri Kimdir?</h3>
                <p data-aos="fade-up">
                  Bizi daha iyi tanımak için lütfen referanslarımızı inceleyiniz.  
                </p>
                <div class="row">
                  <div class="col-md-6 icon-box" data-aos="fade-up">
                    <i class="bx bx-receipt"></i>
                    <h4>Tarihçe</h4>
                    <p>Dumlupınar Üniversitesinden mezun olan bilgisayar programcısı 3 arkadaş tarafından 2003 yılında kurulan şirketimiz web tasarım ve yazılım alanında faaliyet göstermektedir. </p>
                  </div>
                  <div class="col-md-6 icon-box" data-aos="fade-up" data-aos-delay="100">
                    <i class="bx bx-cube-alt"></i>
                    <h4>Vizyon</h4>
                    <p>Web Tasarım olarak bizimle iş birliği içerisinde olan tüm müşterilerimize yeni baştan ve son derece özgün bir dijital kimlik inşa etmeyi amaçlamaktayız. </p>
                  </div>
                  <div class="col-md-6 icon-box" data-aos="fade-up" data-aos-delay="200">
                    <i class="bx bx-images"></i>
                    <h4>Misyon</h4>
                    <p>İletişim odaklı bir yaklaşımla müşterilerimizin beklentilerini tam anlamıyla yanıtlamaya çalışan uzman kadromuz, bu doğrultuda hızlı bir şekilde reaksiyon alarak fikirlerinizi anında hayata geçirmeye yönelik çalışmalar yürütmektir.</p>
                  </div>
                  <div class="col-md-6 icon-box" data-aos="fade-up" data-aos-delay="300">
                    <i class="bx bx-shield"></i>
                    <h4>Politikalarımız</h4>
                    <p>Bu bakımdan müşterilerimizi ekip arkadaşlarımız gibi görerek gerek planlama gerekse de uygulama aşamasında sürekli test ve geri dönüş süreçlerine dahil eden yaklaşımımızın, aklınızdaki dijital kimliği var edebilmek için anahtar bir rol üstlendiğine inanmaktayız.</p>
                  </div>
                </div>
              </div><!-- End .content-->
            </div>
          </div>
  
        </div>
      </section><!-- End About Us Section -->