  {% load static %}
  <!-- ======= Pricing Section ======= -->
  <section class="pricing">
    <div class="container">
      <div class="row">
        <h1 class="h3 text-center text-muted">TUZLA WEB TASARIM FİYATLARI | SEO FİYATLARI</h1>
        <p class="text-muted text-center p-2">
          Tuzla web tasarım fiyatları SEO fiyatları 2.999 ₺'den başlayan kampanyalı fiyatlarımız, google dostu web siteler için hazırladığımız fiyatları inceleyin.
          Fiyatlarımız müşteri isteklerden dolayı farklılık gösterebilmektedir. Profesyonel SEO hizmetinden faydalanmak isteyen müsterilerimiz için fiyatlar farklılık gösterir. 
        </p>
        <div class="col-lg-4 col-md-6">
          <div class="box" data-aos="fade-right">
            <h3>Blog (Kişesel) Web Tasarım</h3>
            <h4><sup>₺</sup>2.999<span> +KDV</span></h4>
            <ul>
              <li>Sınırsız Sayfa</li>
              <li>Ücretsiz Domain ve Hosting</li>
              <li>Kullanıcı Yönetim Paneli</li>    
              <li>Standart SEO</li>
              <li>Responsive Tasarım</li>
            </ul>
            <div class="btn-wrap">
              <a href="{% url 'teklif' %}" class="btn-buy">Teklif Al</a>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 mt-4 mt-md-0">
          <div class="box featured" data-aos="fade-up">
            <h3>Kurumsal Web Tasarım</h3>
            <h4><sup>₺</sup>3.999<span> +KDV</span></h4>
            <ul>
              <li>Sınırsız Sayfa</li>
              <li>Ücretsiz Hosting ve Domain</li>
              <li>Kullanıcı Yönetim Paneli</li>    
              <li>Standart SEO</li>
              <li>Responsive Tasarım</li>

            </ul>
            <div class="btn-wrap">
              <a href="{% url 'teklif' %}" class="btn-buy">Teklif Al</a>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 mt-4 mt-lg-0">
          <div class="box" data-aos="fade-left">
            <h3>E-Ticaret Sitesi</h3>
            <h4><sup>₺</sup>10.999<span> +KDV</span></h4>
            <ul>
              <li>Profesyenel Tasarım</li>
              <li>Sınırsız Ürün Ekleme</li>
              <li>Standart SEO</li>
              <li>Responsive Tasarım</li>
              <li>Kullanıcı Üyelik Sistemi</li>
              <li>Kullanıcı Yönetim Paneli</li>    
              <li>Çoklu Dil Desteği</li>
              <li>Kargo Takip Sistemi</li>
              <li>Müşteri Takip ve Ödeme Sistemi</li>
            </ul>
            <div class="btn-wrap">
              <a href="{% url 'teklif' %}" class="btn-buy">Teklif Al</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section><!-- End Pricing Section -->