  {% load static %}
  <!-- ======= Testimonials Section ======= -->
  <section id="testimonials" class="testimonials">
    <div class="container">

      <div class="row">

        <div class="col-lg-6" data-aos="fade-up">
          <div class="testimonial-item">
            <h3>Adem AYDEMİR</h3>
            <h4>İşletme Sahibi &amp; Doğrama Ustası </h4>
            <p>
              <i class="bx bxs-quote-alt-left quote-icon-left"></i>
             Web Tasarım ve SEO çalışması yıptırdığım C&K Web Tasarımın güler yüzlü ve dinamik ekibinize çok teşekkür ederim. 
              <i class="bx bxs-quote-alt-right quote-icon-right"></i>
            </p>
          </div>
        </div>

        <div class="col-lg-6" data-aos="fade-up" data-aos-delay="100">
          <div class="testimonial-item mt-4 mt-lg-0">
            <h3>Mehmet KARACA</h3>
            <h4>İşletme Sahibi &amp; Avukat</h4>
            <p>
              <i class="bx bxs-quote-alt-left quote-icon-left"></i>
              İstediğimiz kriterlere uygun web sitemizi ve SEO çalışmalarımızı yaptırdığımız C&K Web Tasarım Hizmetlerine Teşekkür Ederiz.
              <i class="bx bxs-quote-alt-right quote-icon-right"></i>
            </p>
          </div>
        </div>

        <div class="col-lg-6" data-aos="fade-up" data-aos-delay="200">
          <div class="testimonial-item mt-4">
            <h3>Halil AKANSEL</h3>
            <h4>İşletme Sahibi &amp; Diş Hekimi</h4>
            <p>
              <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                Web Tasarımında öncü C&K Web Tasarım Hizmetlerine işletmeme yaptığı katkılarından dolayı teşekkür ederim.
              <i class="bx bxs-quote-alt-right quote-icon-right"></i>
            </p>
          </div>
        </div>

        <div class="col-lg-6" data-aos="fade-up" data-aos-delay="300">
          <div class="testimonial-item mt-4">
            <h3>Turgay AY</h3>
            <h4>İşletme Sahibi &amp; Alternatif Tıp Uzmanı</h4>
            <p>
              <i class="bx bxs-quote-alt-left quote-icon-left"></i>
              C&K Web Tasırım ile çalıştığımdan bu yana google sıralamalarında üst sıralarda yer bulmaktadır. Kendilerine teşekkür ederiz.
              <i class="bx bxs-quote-alt-right quote-icon-right"></i>
            </p>
          </div>
        </div>

        <div class="col-lg-6" data-aos="fade-up" data-aos-delay="400">
          <div class="testimonial-item mt-4">
            <h3>Halil İbrahim SEZER</h3>
            <h4>İşletme Sahibi &amp; İnşaat Mühendisi</h4>
            <p>
              <i class="bx bxs-quote-alt-left quote-icon-left"></i>
              C&K Web tasarıma firmamıza yaptığı katkılardan ötürü teşekkür ederim. Kendilerini tavsiye ederim.
              <i class="bx bxs-quote-alt-right quote-icon-right"></i>
            </p>
          </div>
        </div>

        <div class="col-lg-6" data-aos="fade-up" data-aos-delay="500">
          <div class="testimonial-item mt-4">
            <h3>Mevlüt KARAGÜL</h3>
            <h4>İşletme Sahibi &amp; Eğitim Uzmanı</h4>
            <p>
              <i class="bx bxs-quote-alt-left quote-icon-left"></i>
              Danışmanlık hizmeti vermekte olan firmamızın tüm web işleri C&K Web tasarım tarafından yapılmaktadır. 
              <i class="bx bxs-quote-alt-right quote-icon-right"></i>
            </p>
          </div>
        </div>

      </div>

    </div>
  </section><!-- End Testimonials Section -->